<form class="tab-container" [formGroup]="accountForm">
  <span class="tab-title">Personal information</span>
  <div class="content-row">
    <span class="p-float-label">
      <input
        pInputText id="name" value="Eduardo" formControlName="name" />
      <label htmlFor="name">First Name</label>
    </span>

    <span class="p-float-label">
      <input pInputText id="surname" value="Castro" formControlName="surname" />
      <label htmlFor="name">Last Name</label>
    </span>
  </div>

  <div class="content-row">
    <span class="p-float-label">
      <input
        id="cpf" type="text" pInputText placeholder="CPF" formControlName="cpf" />
      <label htmlFor="cpf">CPF</label>
    </span>

    <span class="p-float-label">
      <input
        tooltipEvent="focus"
        [pTooltip]="accountForm.controls['email'].invalid  && accountForm.controls['email'].touched ? 'Enter a valid email' : ''"
        [ngClass]="{'input-error': !accountForm.controls['email'].valid && accountForm.controls['email'].touched}"
        id="email" type="email" pInputText placeholder="Email" formControlName="email" />
      <label htmlFor="email">Email</label>
    </span>
  </div>

  <span class="tab-title">Login information</span>
  <div class="content-row">
    <span class="p-float-label">
      <input
      tooltipPosition="top"
        [pTooltip]="accountForm.controls['username'].invalid  && accountForm.controls['username'].touched ? 'Min 6 characters' : ''"
        pInputText id="username" value="meudin" formControlName="username" />
      <label htmlFor="username">Username</label>
    </span>

    <div class="password-switch">
      <h5>Do you wish to edit your password?</h5>
      <p-inputSwitch
        [(ngModel)]="editPassword"
        (ngModelChange)="togglePasswordEdit()"
        [ngModelOptions]="{standalone: true}"></p-inputSwitch>
    </div>
  </div>

  <div class="content-row">
    <span class="p-float-label">
      <input
        tooltipPosition="top"
        [pTooltip]="accountForm.controls['password'].invalid  && accountForm.controls['password'].touched ? 'Min 8 characters - 1 Letter - 1 Number' : ''"
        [ngClass]="{'input-error': !accountForm.controls['password'].valid && accountForm.controls['password'].touched || emptyPassword}"
        pInputText id="password" type="password" formControlName="password" />
      <label htmlFor="password">New password</label>
    </span>

    <span class="p-float-label">
      <input
        tooltipPosition="top"
        [pTooltip]="accountForm.controls['confPassword'].invalid  && accountForm.controls['confPassword'].touched ? 'Min 8 characters - 1 Letter - 1 Number' : ''"
        [ngClass]="{'input-error': !accountForm.controls['confPassword'].valid && accountForm.controls['confPassword'].touched || emptyConfPassword}"
        pInputText id="confPassword" type="password" formControlName="confPassword" />
      <label htmlFor="confPassword">Confirm new password</label>
    </span>
  </div>

  <div class="button">
    <button pButton pRipple (click)="saveData()" label="Save Data" icon="pi pi-save" class="save-data-btn"></button>
  </div>
</form>

<p-toast></p-toast>
<app-loading></app-loading>

<p-confirmDialog
  [rejectVisible]="false" [acceptLabel]="'Ok'"
  [style]="{width: '450px'}"></p-confirmDialog>
